################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
.vs
.git
/.vs/Mobioos.Scaffold.Generators/v15/Server/sqlite3
/tests/obj
/src/obj
/.vs/Mobioos.Generators/v15/Server/sqlite3
/src/bin/Debug/net461
/.vs/Mobioos.Generators/v15
/tests