<#@ include file = "..\..\..\..\Base\Templates\Include.tt" #>
<environment names="Development">
  <script src="~/js/bundles.js"></script>
</environment>
<environment names="Staging,Production">
  <script src="~/js/bundles.min.js"></script>
</environment>